body {
  padding-top: 15px;
  font-size: 1em;
  font-family: Raleway, Helvetica, sans-serif;
  line-height: 1.4;
  border-top: 5px #e81626 solid;
}

body pre {
  border-left: 2px #e81626 solid;
  border-radius: 3px;
  background-color: #f8f8f8;
  font-size: 13px;
  line-height: 19px;
  padding: 6px 10px;
  overflow: auto;
}

pre code {
  border: none;
  color: black;
  background-color: inherit;
}
code {
  border: 1px solid #ddd;
  border-radius: 3px;
  background-color: #f8f8f8;
  color: #7B0C14;
}

.navigation h1 {
  font-size: 1.5em;
}
.navigation ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
.navigation a, .docs a,
.navigation a:visited, .docs a:visited {
  color: #e81626;
  text-decoration: none;
}
.navigation a {
  padding: 5px 0px 5px 15px;
  display: block;
  border-left: 2px #CCAEB0 solid;
}
.navigation a:hover,
.navigation a.current,
.docs a:hover {
  color: #1696E8;
}
.navigation a:hover,
.navigation a.current {
  border-left: 2px #e81626 solid;
}

ul .subnav {
  padding-left: 15px;
}
ul .subnav a, ul .subnav a:hover {
  border: none;
  font-size: 75%;
  padding: 0px 0px 0px 15px;
}

.docs img {
  padding: 5px;
  border: 1px solid #CCAEB0;
}

#spacer {
  height: 500px;
}

a.mark, a.mark:visited {
  text-decoration: none;
  color: #CCAEB0;
  font-weight: normal;
}
a.mark:hover {
  color: #e81626;
}

h1 > code {
  font-family: inherit;
  display:block;
  color: #000;
  border: 1px solid #000;
  border-left: none;
  border-right: none;
  border-radius: 0px;
  padding: 7px;
}

td code {
  border: none;
  background-color: inherit;
}
.required {
  background-color: #FFEEDB;
}

/* borrowed from bootstrap.css */
table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}

.table {
  width: 100%;
  margin-bottom: 20px;
}

.table th,
.table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}

.table th {
  font-weight: bold;
}

.table thead th {
  vertical-align: bottom;
}

.table caption + thead tr:first-child th,
.table caption + thead tr:first-child td,
.table colgroup + thead tr:first-child th,
.table colgroup + thead tr:first-child td,
.table thead:first-child tr:first-child th,
.table thead:first-child tr:first-child td {
  border-top: 0;
}

.table tbody + tbody {
  border-top: 2px solid #dddddd;
}

.table .table {
  background-color: #ffffff;
}
/* /bootstrap.css */

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


@media only screen and (min-width: 30em) {
  .navigation { width: 25%; }
  .docs { width: 75%; }
}
