<ul class="subnav">
  <li><%= nav_link "GET /v2/tests/:test_id/results", '/api/v2/get/tests/:test_id/results.html' %></li>
  <li><%= nav_link "GET /v2/tests/:test_id/results/:result_id", '/api/v2/get/tests/:test_id/results/result_id.html' %></li>
</ul>
